/*
  --preto: rgb(19, 34, 53);
  --azul-claro: rgb(109, 218, 211);
  --azul-escuro: rgb(21,57,73);
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main{  
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
}

/***********************/
/* Arquivo Index.html */
/* Seção Sobre a Empresa */

#secao-sobre-empresa{
  display: flex;
  justify-content: center;
  background-color: rgb(21,57,73);
  padding: 40px 0 50px 0;
}

#secao-sobre-empresa .titulo-secao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(109, 218, 211);
  font-size: 26px;
}

#secao-sobre-empresa .texto-secao{
  text-align: justify;
  color: white;
  font-size: 20px;
  padding: 0 100px;
  margin-top: 30px;
}

.container-motivos #texto-sobre{
  text-align: justify;
}

#secao-sobre-empresa .card{
  margin: 40px 0;
}


/* Seção Vantagens */

#secao-vantagens{
  display: flex;
  justify-content: center;
  background-color: white;
}

#secao-vantagens .grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 1fr 130px;
  column-gap: 20px;
}

#secao-vantagens .titulo-secao{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1 / 4;
  color: rgb(109, 218, 211);
  font-size: 26px;
}

#secao-vantagens #card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(21,57,73);
}

#secao-vantagens #btn-secao{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  margin: 30px 0;
}

#secao-vantagens #btn-secao button{
  background-color: rgb(109, 218, 211);
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

#secao-vantagens #btn-secao button:hover{
  background-color: rgb(92, 201, 193);
}

#secao-vantagens #btn-secao button:active{
  border-top: 2px solid rgba(0,0,0,0.75);
  border-left: 2px solid rgba(0,0,0,0.75);
  box-shadow: none;
}

.card-titulo{
  color: rgb(109, 218, 211);
  margin-bottom: 20px;
}

.card-texto{
  text-align: center;
  max-width: 80%;
}

/* Seção Anunciar */

#secao-anunciar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 30px solid rgb(109, 218, 211);
}

#secao-anunciar .grid-container{
  display: grid;
  grid-template-columns: 1fr 500px;
}

.imagem-secao-anunciar{
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-secao-anunciar img{
  width: 100%;
}

.conteudo-secao-anunciar{
  background-color: rgb(21,57,73);
  grid-row: 1 / 4;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titulo-secao-anunciar{
  color: white;
  font-size: 20px;
  text-align: justify;
  width: 100%;
  margin-top: 30px;
  line-height: 45px;
  grid-row: 1 / 2;
}

.texto-secao-anunciar{
  color: white;
  font-size: 15px;
  text-align: justify;
  width: 100%;
  margin: 30px 0;
  line-height: 45px;
  grid-row: 2 / 3;
  text-align: center;
  line-height: 25px;
}

.btn-secao button{
  background-color: rgb(109, 218, 211);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;  
  grid-row: 3 / 4;
  margin-bottom: 20px;
  outline-color: rgb(21,57,73); 
}

.btn-secao button:hover{
  background-color: rgb(92, 201, 193);
}

.btn-secao button:active{
  border-top: 1px solid rgba(0,0,0,0.75);
  border-left: 1px solid rgba(0,0,0,0.75);
  box-shadow: none;
}



/********************************/
/* Arquivo anunciar-imovel.html */
/* Seção form-anunciar */

#secao-form-anunciar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#secao-form-anunciar .grid-container{
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

#secao-form-anunciar .titulo-secao{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(109, 218, 211);
  font-size: 26px;
  grid-column: 1 / 4;
}

#secao-form-anunciar #subtitulo-secao{
  color: rgb(21,57,73);
  text-align: center;
  margin-bottom: 10px;
}

#secao-form-anunciar form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(109, 218, 211); 
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
  grid-column: 2 / 3;
}

#secao-form-anunciar form input{
  padding: 6px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid rgb(109, 218, 211);  
  outline-color: rgb(21,57,73); 
  border-radius: 5px;
}

#form-contato-container{
  display: flex;
  justify-content: space-between;
}

#form-contato-container input{
  margin-top: 5px;
}

#form-pais{
  margin-right: 7.5px;
}

#form-area{
  margin-right: 7.5px;
  margin-left: 7.5px;
}

#form-celular{
  margin-left: 7.5px;
}

#form-btn-top-container{
  display: flex;
  align-items: center;
}

.btn-form-anunciar{
  color: rgb(109, 218, 211);
  background-color: transparent;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid rgb(109, 218, 211);
  border-radius: 50px;
  cursor: pointer;  
  width: 100px;
  display: inline-block;
  margin: 10px 10px 20px 0;
  outline-color: rgb(21,57,73); 
}

#form-btn-top-container input[type='button']:hover{
  color: white;
  background-color: rgba(109, 218, 211, 0.5);
}

#form-btn-container button:active{
  color: rgb(109, 218, 211);
  background-color: transparent;
}

#btn-form-submit{  
  text-align: center;
  margin-top: 20px;
}

.btn-form-active{
  background: rgb(109, 218, 211);
  color: white;
}


/* Seção Motivos-anunciar */

#secao-motivos-anunciar{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 30px 0;
  background-color: rgb(21,57,73);
}

#secao-motivos-anunciar .titulo-secao{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(109, 218, 211);
  font-size: 26px;
  grid-column: 1 / 4;
}

.card{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.card i{
  color: rgb(109, 218, 211);
  font-size: 22px;
  grid-column: 1 / 2;
}

.card h2{
  color: white;
  font-size: 22px;
  grid-column: 2 / 3;
  margin-left: 10px;
}

.card p{
  color: white;
  font-size: 16px;
  grid-column: 2 / 3;
  margin-left: 10px;
}


/* Seção Historias-clientes */

#secao-historias{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px;
}

#secao-historias .grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#secao-historias .titulo-secao{
  grid-column: 1 / 3;
  text-align: center;
  color: rgb(109, 218, 211);
  font-size: 26px;
  margin-bottom: 15px;
}

#secao-historias .subtitulo-secao{
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  font-weight: bold;
}

.cliente-secao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  max-width: 350px;
  margin-right: 20px;
}

.cliente-secao img{
  width: 220px;
  border-radius: 50px;
}

#nome-cliente-historia{
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 7px;
}

#cargo-cliente-historia{
  font-style: italic;
  font-size: 15px;

}

#secao-historias .historia-secao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  max-width: 350px;
  margin-left: 20px;
}

#secao-historias .historia-secao #mensagem-historia{
  margin: 50px 0;
  text-align: justify;
  font-weight: 300;
}

#secao-historias .container-historia .btn-secao{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-historia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
}

.bullets{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
}

.bullet{
  width: 25px;
  height: 25px;
  background-color: rgb(21,57,73);
  border-radius: 50%;
  margin: 30px 5px 10px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); 
}

.bullet:hover{
  background-color: rgb(109, 218, 211);  
}

.bullet:active{
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
} 


/* FIM MATHEUS */


body {
  background-color: rgb(252, 250, 250);
}

header a {
  text-decoration: none;
  color: rgb(33, 161, 161);
}

header a:hover{
    background-color: aqua;
    border-radius: 10px;
    color: black;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color:rgb(23, 91, 100);
}

li{
  color:rgb(41, 124, 124);
}


img {
  max-width: 100%;
  display: block;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.header {
  background: rgb(21,57,73);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header img{
    width: 35px;
}

input[type="text" i] {
    padding: 1px 2px;
}
input {
    width: 50%;
    margin-right: 5px;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 12px;
  font-size: 16px;
}

.menu li a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 10px;
}

.menu li a i{
  margin-right: 5px;
  font-size: 16px;
}

/* Apartamentos */

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  padding: 10px;
  margin: 20px auto 50px auto;
  grid-gap: 20px;
  text-align: center;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  display: block;
}

.grid1 a{
  text-decoration: none;
  color: rgb(21,57,73);
}

.grid1 a:hover{
  font-weight: 500;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    width:100%;
}

footer{
    color: rgb(255,255, 255);
    background-color: rgb(19, 34, 53);
    padding: 3vw 3vw 0vw 3vw;
}

/*--------------------------------------------------------------*/

#logo img{
    width: 10vw;
    padding-bottom: 1.5vw;
}

/*--------------------------------------------------------------*/
#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*----------------Redes Sociais-----------------------*/

#redes h5{
    font-size: 1.8vw;
}

#icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#icones img{
    padding: 1vw 1vw 1vw 0vw;
}

#icones img:hover{
    cursor: pointer;
}

#icones .face{
    width: 3.5vw;
}

#icones .insta{
    width: 2.7vw;
    height: 2.7vw;
}

#icones .link{
    width:3vw;
    height: 3vw;
}

#icones .tt{
    width: 2.7vw;
}

#icones .yout{
    width: 4vw;
}

/*---------------------------------------*/

#atendimento h5{
    padding-bottom: 1vw;
    font-size: 1.8vw;
}

#atendimento .disponivel{
    font-size: 1vw;
    padding-bottom: 0.5vw;
}

#atendimento a{
    font-size: 1vw;
    color:rgb(109, 218, 211);
}

#atendimento .links{
    padding-top: 2vw;
}
#atendimento a:hover{
    color:white;
}

/*---------------------------------------*/
#contatos{
    padding: 0vw 7vw 4vw 0vw;
}

.contatos h5{
    font-size: 1.8vw;
}

.perfis{
    text-align: center;
}
.perfis h5{
    font-size: 1.3vw;
}

.logo h5{
    font-size: 1.22vw;
}

#labenu{
    display: flex;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 3vw;
}

div .labenu{
    width:3vw;
}

#labenu h5{
    padding-left: 1vw;
}

#desenvolvedores{
    display: flex;
    justify-content:center;
    padding-top: 1vw;
}

#desenvolvedores img{
    width:3vw;
    border-radius: 3vw;
    padding: 0.8vw;
}

/*---------------------------------------------------------------*/
#diretrizes{
    border: 0.1vw rgb(109, 218, 211) solid ;
    border-left: none;
    border-right: none;
    font-size: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
}

/*-----------------------------------------------------------------*/
#fim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;
    padding: 0.8vw 0vw 0.8vw 0vw;
}

#seguro{
    display: flex;
    align-items: center;
}

#seguro img{
    width: 1.5vw;
}

/*-----------------------------------------------------------------*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer{
        padding: 15px;
    }

    #logo {
        text-align: center;
        padding-top: 18px;
    }

    #logo img{
        width: 100px;
    }

    #rodape{
        flex-direction: column;
    }

    #redes h5, #atendimento h5{
        font-size: 10px;
        text-align: center;
        padding-top: 10px;
    }

    #atendimento h5{
        padding-bottom: 10px;
    }

    #icones{
        justify-content: center;
        padding-top: 10px;
    }

    #icones .face{
        width:22px;
        height:22px;
        padding-left: 1vw;
    }
    
    #icones .insta{
        width:18px;
        height:18px;
        padding-left: 1vw;
    }
    
    #icones .link{
        width:20px;
        height:20px;
        padding-left: 1vw;
    }
    
    #icones .tt{
        width:18px;
        height:18px;
        padding-left: 1vw;
    }
    
    #icones .yout{
        width:30px;
        height:20px;
    }

    #atendimento{
        text-align: center;
    }

    #atendimento p{
        font-size: 5px;
    }

    #contatos{
        text-align: center;
        padding: 0;
    }

    .contatos h5{
        font-size: 10px;
        padding-top: 10px;
    } 

    #labenu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0%;
    }

    #labenu img{
        width: 40px;
        padding-right: 3px;
    }

    #labenu h5{
        font-size: 0%;
    }

    .perfis h5{
        font-size:10px
    }

    #desenvolvedores{
        padding-bottom: 20px;
    }

    #desenvolvedores img{
        width:30px;
        border-radius: 50px;
    }

    #diretrizes p{
        font-size: 6.4px;
    }


}


@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}



/* MEDIA QUERIES */

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* celulares */

  .container{
    width: 100%;
  }

  #secao-anunciar .grid-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  #secao-vantagens .grid-container{
    display: flex;
    flex-direction: column;
  }

  #secao-vantagens .titulo-secao{
    font-size: 24px;
    margin-top: 20px;
  }
  
  #secao-vantagens .card-texto{
    text-align: justify;
  }
  
  #secao-vantagens #card{
    margin: 20px 0;
  }

  #secao-vantagens #card:nth-child(4){
    margin-top: 20px;
  }

  #secao-vantagens #btn-secao{
    margin-bottom: 40px;
  }

  #secao-form-anunciar .titulo-secao,
  #secao-motivos-anunciar .titulo-secao,
  #secao-historias .titulo-secao{
    font-size: 18px; 
  }

  #secao-motivos-anunciar .titulo-secao{
    padding: 0 30px;
  }


  #secao-form-anunciar form input[type='text']{
    width: 100%;
  }

  #form-contato-container{
    display: block;
    margin: 0;
  }

  #form-pais{
    margin-right: 0;
  }

  #form-area{
    margin-right: 0;
    margin-left: 0;
  }

  #form-celular{
    margin-left: 0;
  }

  .card{
    margin: 50px 0;
  }

  .card h2{
    font-size: 20px;
  }

  .card p{
    margin-top: 10px;
  }
  

  #secao-historias .grid-container{
    grid-template-columns: 1fr;
  }

  #secao-historias .titulo-secao{
    margin-top: 20px;
  }

  #secao-historias .titulo-secao,
  #secao-historias .subtitulo-secao{
    grid-column: 1 /-1;
    text-align: center;
  }
  
  .container-historia{
    flex-direction: column;
    grid-column: 1 / 2;
  }

  #secao-historias{
    padding: 0;
  }

  #secao-historias .cliente-secao{
    margin-right: 0;
  }

  #secao-historias .historia-secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin-top: 30px;
    margin-left: 0;
  }
  
  #secao-historias .historia-secao #mensagem-historia{
    margin: 0 0 50px 0;
  }

  .bullets{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
/* tablets */

  .container{
    width: 100%;
  }

  #secao-anunciar .grid-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  #secao-vantagens .grid-container{
    display: flex;
    flex-direction: column;
  }

  #secao-form-anunciar .titulo-secao,
  #secao-motivos-anunciar .titulo-secao,
  #secao-historias .titulo-secao{
    padding: 0 100px;
  }

  #secao-vantagens .titulo-secao{
    font-size: 20px;
    padding: 0 100px;
    margin: 50px 0 20px 0;
    width: 100%;
  }
  
  #secao-vantagens .card-texto{
    text-align: justify;
  }
  
  #secao-vantagens #card{
    margin: 20px 0;
  }

  #secao-vantagens #card:nth-child(4){
    margin-top: 20px;
  }

  #secao-vantagens #btn-secao{
    margin-bottom: 40px;
  }

  #secao-historias .grid-container{
    grid-template-columns: 1fr;
  }

  #secao-historias .titulo-secao{
    margin-top: 20px;
  }

  #secao-historias .titulo-secao,
  #secao-historias .subtitulo-secao{
    grid-column: 1 /-1;
    text-align: center;
  }

  #secao-historias .subtitulo-secao{
    padding: 0 30px;
  }
  
  .container-historia{
    flex-direction: column;
    grid-column: 1 / 2;
  }

  #secao-historias{
    padding: 0;
  }

  #secao-historias .historia-secao{
    margin-top: 30px;
  }

  #secao-historias .historia-secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
  }

  .bullets{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

}